.footer {
  background-color: #a93226;
  color: #ccc;
  padding: 16px 20px 20px;
  margin-top: auto;
}

.footer_text {
  font-size: 0.9rem;
  text-align: center;
  color: #fcfcfc;
}

@media (max-width: 720px) { /* Se añade para que se ajuste en las pantallas */
  .footer {
    padding: 12px 14px 14px;
  }

  .footer_text {
    font-size: 0.82rem;
  }
}